body {
    background-color:#efefef;
     
}
#wrapper {
    background-color:#edeae4;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
    
}
#content {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
#header {

    height:180px;
    background-color:white;
    border-bottom:solid #dddddd 1px;
    padding: 0 50px 0 50px;
    display:block;
    max-width: 100%;
    
}
#logo {

    padding-top: 25px;
    padding-bottom: 25px;
    float: left;
    
}
#RealMenu {
    max-width:100%;
    background-color:white;
    margin-bottom:20px;
}
.MenuHeader {
    padding:10px 50px 10px 50px;
    font-size:20px;
    margin-bottom:20px;
    
}
#favorite {
    background-color:white;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:20px;
    display:block;
    min-height:700px;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
    padding: 25px 20px;
}
#secondary {
    background-color:white;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:20px;
    display:block;
    height:450px;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
    padding: 25px 20px;
}
#footer {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#efefef;
    text-align: center;
}
#LogoLogin {
    float:right;
    padding-top: 25px;
    padding-bottom: 25px;
    
}


#myCarousel {
    border: solid 1px #edeae4;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    height: 300px;
    min-width: 95%;
}

.carousel-inner > .item > a > img {
    margin: 0 auto;
    min-height: 170px;
    max-height: 275px;
    bottom: 25px;
    padding-top: 20px;
    min-width: 550px;
}
#brandBox
{
    
    background-color:#edeae4; 
    float:left;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
    padding:10px; 
    margin: 55px 55px 55px 55px;
    /*border:1px solid #000077;*/

}
#brandText {
    float:left;
    margin:30px;
}
#imageBrandBox {
   
    float:right;
    margin:0px 50px;
}

td {
    padding:5px;
     text-align: left;
    vertical-align: initial;
}

#descriptionTextBoxStyle {
    vertical-align: top; text-align: left;
}
#cartImage {
    height: 100px;
width: 100px;
}
#signUpReg {
    border: solid black 5px;
    float: left;
    margin-left: 300px;
}
#LoginView {
    float:left;
    border: solid black 5px;
}
 #map {
    height: 300px;
    width:300px;
  }
 